[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "crontab-dotbot"]
	path = crontab-dotbot
	url = https://github.com/fundor333/crontab-dotbot.git

[submodule "metamorphosis/.config/ranger/plugins/ranger_devicons"]
	path = metamorphosis/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons

[submodule "prose/.config/ranger/plugins/ranger_devicons"]
	path = prose/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons

[submodule "fuji/.config/ranger/plugins/ranger_devicons"]
	path = fuji/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons

[submodule "metamorphosis/.config/nvim"]
	path = metamorphosis/.config/nvim
	url = https://github.com/astronvim/astronvim
