# python
*.pyc

# environment
.env

# zcompile files
*.zwc

# lazygit state
**/lazygit/state.yml

# mpv scripts
**/mpv/scripts/

# openrgb logs/plugins
**/OpenRGB/logs/
**/OpenRGB/plugins/

# ranger plugins
**/ranger/plugins/__init__.py

# spotify-tui secrets
**/spotify-tui/client.yml
**/spotify-tui/.spotify_token_cache.json

# kitty themes/fonts symlinks
config/kitty/font.conf
config/kitty/theme.conf

# fuzzel themes/fonts symlinks
config/fuzzel/font.ini
config/fuzzel/theme.ini

# lite-xl sessions
**/lite-xl/session.lua
**/lite-xl/ws/
**/lite-xl/fonts/

# yazi flavors/theme
config/yazi/flavors/
config/yazi/theme.toml

# nvim lazy artifacts
**/nvim/lazy-lock.json
