[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot.git
    ignore = dirty

[submodule "crontab-dotbot"]
    path = crontab-dotbot
    url = https://github.com/fundor333/crontab-dotbot.git

[submodule "global/.config/ranger/plugins/ranger_devicons"]
	path = global/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git

[submodule "global/.config/nvim"]
	path = global/.config/nvim
	url = https://github.com/notchum/AstroNvim.git
