# python
*.pyc

# zcompile files
*.zwc

# lazygit state
**/lazygit/state.yml

# mpv scripts
**/mpv/scripts/

# ranger plugins
**/ranger/plugins/__init__.py

# spotify-tui secrets
**/spotify-tui/client.yml
**/spotify-tui/.spotify_token_cache.json

# kitty themes
**/kitty/kitty-themes/
