! Colors 0-15.
*.color0: #0c0a0a
*color0:  #0c0a0a
*.color1: #F78A38
*color1:  #F78A38
*.color2: #B3857C
*color2:  #B3857C
*.color3: #E19573
*color3:  #E19573
*.color4: #756F87
*color4:  #756F87
*.color5: #887B88
*color5:  #887B88
*.color6: #A18D8D
*color6:  #A18D8D
*.color7: #ebcbba
*color7:  #ebcbba
*.color8: #a48e82
*color8:  #a48e82
*.color9: #F78A38
*color9:  #F78A38
*.color10: #B3857C
*color10:  #B3857C
*.color11: #E19573
*color11:  #E19573
*.color12: #756F87
*color12:  #756F87
*.color13: #887B88
*color13:  #887B88
*.color14: #A18D8D
*color14:  #A18D8D
*.color15: #ebcbba
*color15:  #ebcbba

! Black color that will not be affected by bold highlighting.
*.color66: #0c0a0a
*color66:  #0c0a0a
