/**
 *
 * Author : @notchum
 * 
 * Colors
 **/

* {
    background:     #0A0E14FF;
    background-alt: #383C4AFF;
    foreground:     #B3B1ADFF;
    selected:       #53BDFAFF;
    active:         #95E6CBFF;
    urgent:         #EA6C73FF;
}
