#!/bin/sh
#
# ~/.xinitrc
#
# Executed by startx (run your window manager from here)

# Merge resources
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

# Start for keybindings
xbindkeys

# Start compositor
picom &

# Set wallpaper
~/.fehbg &

# Open up a terminal
kitty &
