!! Transparency (0-1):
*.alpha: 0.5

!! Set a default font and font size:
*.font:	Hack Nerd Font:size=12:antialias=true:autohint=true

!! Configure cursor
Xcursor.theme: Adwaita
Xcursor.size: 0

/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */

/* !! gruvbox: */
/* *.color0: #1d2021 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #a89984 */
/* *.color8: #928374 */
/* *.color9: #fb4934 */
/* *.color10: #b8bb26 */
/* *.color11: #fabd2f */
/* *.color12: #83a598 */
/* *.color13: #d3869b */
/* *.color14: #8ec07c */
/* *.color15: #ebdbb2 */
/* *.color256: #1d2021 */
/* *.color257: #ebdbb2 */

/* !! nord: */
/* *.foreground: #d8dee9 */
/* *.background: #2e3440 */
/* *.cursorColor: #d8dee9 */
/* *.fadeColor: #4c566a */
/* *.color0: #3b4252 */
/* *.color1: #bf616a */
/* *.color2: #a3be8c */
/* *.color3: #ebcb8b */
/* *.color4: #81a1c1 */
/* *.color5: #b48ead */
/* *.color6: #88c0d0 */
/* *.color7: #e5e9f0 */
/* *.color8: #4c566a */
/* *.color9: #bf616a */
/* *.color10: #a3be8c */
/* *.color11: #ebcb8b */
/* *.color12: #81a1c1 */
/* *.color13: #b48ead */
/* *.color14: #8fbcbb */
/* *.color15: #eceff4 */

!! prose:
*.foreground: #d8dee9
*.background: #010101
*.cursorColor: #d8dee9
*.abackground: #50010101
*.color0: #34414e
*.color1: #c37688
*.color2: #728387
*.color3: #9a978b
*.color4: #dba1ac
*.color5: #8a4455
*.color6: #547c7d
*.color7: #d8c8c1
*.color8: #34414e
*.color9: #c37688
*.color10: #728387
*.color11: #9a978b
*.color12: #dba1ac
*.color13: #8a4455
*.color14: #547c7d
*.color15: #d8c8c1

!! Rofi colors based on selected theme:
rofi.color-window: .background, .background, .background
rofi.color-normal: .background, .foreground, .background, .background, .color1
rofi.color-active: .background, .foreground, .background, .background, .color1
rofi.color-urgent: .background, .foreground, .background, .background, .color1