/* Ayu-Dark */
/* Primary Colors */
@define-color fgcolor  #B3B1AD;
@define-color bgcolor  #0A0E14;
/* Normal Colors */
@define-color nblack   #01060E;
@define-color nred     #EA6C73;
@define-color ngreen   #91B362;
@define-color nyellow  #F9AF4F;
@define-color nblue    #53BDFA;
@define-color nmagenta #FAE994;
@define-color ncyan    #90E1C6;
@define-color nwhite   #C7C7C7;
/* Bright Colors */
@define-color bblack   #686868;
@define-color bred     #F07178;
@define-color bgreen   #C2D94C;
@define-color byellow  #FFB454;
@define-color bblue    #59C2FF;
@define-color bmagenta #FFEE99;
@define-color bcyan    #95E6CB;
@define-color bwhite   #FFFFFF;

* {
	border: none;
	border-radius: 5px;
  font-family: "Hack Nerd Font";
	font-size: 14px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	transition: none;
  color: transparent;
	background: transparent;
}
#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 5px;
	background: #0A0E14;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #C7C7C7;
  background: transparent;
  font-size: 16px; 
  border-radius: 5px;
}

#workspaces button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#workspaces button.focused {
	color: #59C2FF;
  border-top: 2px solid #59C2FF;
  border-bottom: 2px solid #59C2FF;
}

#workspaces button.persistent {
  color: #686868;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
  border-color: #EA6C73;
  color: #EA6C73;
}

#workspaces button.focused:hover {
  color: #EA6C73;
}

#mode {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #B3B1AD;
	transition: none;
	color: #B3B1AD;
	background: #0A0E14;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #DDB6F2;
	transition: none;
	color: #DDB6F2;
	background: #0A0E14;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #FAE994;
	transition: none;
	color: #FAE994;
	background: #0A0E14;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #95E6CB;
	transition: none;
	color: #95E6CB;
	background: #0A0E14;
}

#battery.charging, #battery.plugged {
	color: #95E6CB;
  background-color: #0A0E14;
}

#battery.critical:not(.charging) {
  color: #95E6CB;
  background-color: #0A0E14;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
    to {
      background-color: #F07178;
      color: #0A0E14;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #F8BD96;
	transition: none;
	color: #F8BD96;
	background: #0A0E14;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #F9AF4F;
	transition: none;
	color: #F9AF4F;
	background: #0A0E14;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 5px;
  border-bottom: 2px solid #BD93F9;
	transition: none;
	color: #BD93F9;
	background: #0A0E14;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 5px;
  border-bottom: 2px solid #C678DD;
	transition: none;
	color: #C678DD;
	background: #0A0E14;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 5px;
  border-bottom: 2px solid #B5E8E0;
	transition: none;
	color: #B5E8E0;
	background: #0A0E14;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 5px;
  border-bottom: 2px solid #89DCEB;
	transition: none;
  color: #89DCEB;
  background: #0A0E14;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #EA6C73;
	transition: none;
	color: #EA6C73;
	background: #0A0E14;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #E8A2AF;
	transition: none;
	color: #E8A2AF;
	background: #0A0E14;
}

#custom-spotify {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #1DB954;
	transition: none;
	color: #1DB954;
	background: #0A0E14;
}

#custom-vpn {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 5px;
  border-bottom: 2px solid #91B362;
	transition: none;
	color: #91B362;
	background: #0A0E14;
}
